<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <a href="/users">Home</a>
        <h2>Edit User {{edit_this_user["id"]}}</h2>
        <form action="/users/{{id}}/update" method="POST">
            First Name: <input type="text" class="form-control" name="first_name" value="{{edit_this_user['first_name']}}">
            First Name: <input type="text" class="form-control" name="last_name" value="{{edit_this_user['last_name']}}">
            Email: <input type="email" name="email" class="form-control" value="{{edit_this_user['email']}}">
            <button class="btn btn-primary">Update</button>
        </form>
        <a href="/users/{{edit_this_user['id']}}">Show User</a>
    </div>

</body>
</html>