<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <a href="/users">Home</a>
        <h2>User {{one_user["id"]}}</h2>
        <p>Full Name: {{one_user["first_name"]}} {{one_user["last_name"]}}</p>
        <p>Email: {{one_user["email"]}}</p>
        <p>Created On: {{one_user["created_at"]}}</p>
        <p>Last Updated: {{one_user["updated_at"]}}</p>
        <div class="link">
            <a href="/users/{{one_user["id"]}}/edit">Edit</a> |
            <a href="/users/{{one_user["id"]}}/destroy">Delete</a>
        </div>
    </div>
</body>
</html>